@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif!important;
    font-weight: 200!important;
}

#img-camada img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

#img-camada {
    position: relative;
    width: 100%;
    height: 100%;
}

#img-camada:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
  }

  nav {
    background-color: #093F7F;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 9999;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav ul a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
  }

  nav img {
    width: 250px;
    border-radius: 5px;
    margin: 1px;
    margin-left: -15%;
  }

 a {
    position: relative;
 }
 a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out!important;
 }

 a:hover::after{
    width: 100%;
}

  

.boas-vindas {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  #welcome{
    font-size: 3vw;
    margin-bottom: 0;
    margin-top: 15%;
  }

  #date {
    font-size: 3vw;
    margin-bottom: 0;
    margin-top: 0;
    
  }

  .boas-vindas  h1{
    font-size: 8vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
  }

  .boas-vindas  p{
    font-size: 2vw;
    text-align: center;
  }

  #in {
    color: #093F7F;
  }

.timeline-content {
    display: none;
}

.progress-bar {
    position: relative;
    width: 50%;
    background-color: #f2f2f2;
    height: 20px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    background-color: #093F7F;
    transition: width 0.3s ease-in-out;
}

.progress-point {
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background-color: #093F7F;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    
}

#programacao {
    background-color: #FFFFFE;
    color: #093F7F;
    padding: 50px;
    text-align: center;
}

.btns {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;  
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.btns:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btns:hover {
    background-color: #093F7F;
    color: white;
}

.timeline-content img {
  width: 40vw;
  border: 3px solid #093F7F;
  border-radius: 10px;
}

#programacao h2 {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

footer svg {
  margin-bottom: -15px;
}

nav img {
  width: 200px;
}

nav ul {
  margin-right: 10%;
  margin-left: 10%;
}

.timeline-content p {
  font-size: 1.3vw;
  text-align: center;
}

.timeline-content img {
  width: 30vw;
}


//MODAL

#programacao button {
  outline: none;
  transition: 0.2s all;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

#programacao button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.wrapper {
  background-color: #093F7F;
  border-radius: 10px;
}

.wrapper a {
  
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #093F7F;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}



.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.content {
  border-radius: 4px;
  position: relative;
  width: 50%;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.footer {
  text-align: right;
  margin-top: 50px;
}

.footer-btn-close {
  width: 150px;
  padding: 10px;
  text-decoration: none;
  background-color: #093F7F;
  color: #fff;
  border-radius: 5px;
}

.content h1 {
  color: #093F7F;
}

//TABELA
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  font-size: 1.3vw;
}

tr {
  color: #093F7F;
  width: 20%;
  
}

thead th {
  background-color: #093F7F;
  color: white;
}

th {
  background-color: #f2f2f2;
}

#link-tb {
  display: none;
}
#tabela-invisivel{
  display: none;
  
  
}
#tabela-invisivel h2{
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #093F7F;
}
#tabela-invisivel th, td {
  font-size: 3vw;
}




//RESPONSIVIDADE
@media (max-width: 900px) {
  nav ul li a{
    font-size: 18px;
  }
  nav img {
    width: 150px;
  }
  #programacao h2 {
    font-family: 'Oswald', sans-serif;
  }
}

@media (max-width: 600px) {
  nav ul li a{
    font-size: 12px;
  }
  #welcome {
    margin-top: 70px;
  }
  nav img {
    width: 120px;
  }
  nav {
    height: 60px;
  }
  #programacao {
    display:none;
  }
  #tabela-invisivel{
    margin-top: 5%;
    display: table;
  }
  #link-tb {
    display: table;
  }
  #link-pr {
    display: none;
  }

}

@media (max-width: 400px) {
  nav ul li a{
    font-size: 10px;
  }
  nav img {
    width: 100px;
  }
  nav {
    height: 50px;
  }
  nav ul {
    margin-bottom: 5%;
  }
  .boas-vindas {
    width: 100%;
  }
}
